openapi: 3.0.0
info:
  title: ReZ Merchant Service API
  version: 1.0.0
  description: |
    ReZ Merchant Service provides merchant management, store operations, product catalog,
    order management, loyalty programs, analytics, and integrations.
  contact:
    name: ReZ API Support
    email: api-support@rez.money
  license:
    name: Proprietary
    url: https://rez.money/terms

servers:
  - url: https://api.rez.money/merchant
    description: Production
  - url: https://staging-api.rez.money/merchant
    description: Staging

security:
  - bearerAuth: []

tags:
  - name: Merchant
    description: Merchant profile and authentication
  - name: Stores
    description: Store management
  - name: Products
    description: Product catalog management
  - name: Orders
    description: Order management
  - name: Loyalty
    description: Loyalty and rewards programs
  - name: Analytics
    description: Analytics and reporting
  - name: Integration
    description: Third-party integrations
  - name: Internal
    description: Internal service endpoints

paths:
  # Merchant Profile Routes
  /profile:
    get:
      summary: Get Merchant Profile
      description: Returns merchant's profile information.
      tags: [Merchant]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Profile retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
        '404':
          description: Merchant not found
    put:
      summary: Update Merchant Profile
      description: Updates merchant profile fields.
      tags: [Merchant]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                businessName:
                  type: string
                  minLength: 3
                  maxLength: 200
                ownerName:
                  type: string
                  minLength: 2
                  maxLength: 100
                phone:
                  type: string
                  pattern: "^[6-9]\\d{9}$"
                description:
                  type: string
                  maxLength: 2000
                website:
                  type: string
                gstNumber:
                  type: string
                logoUrl:
                  type: string
                coverImageUrl:
                  type: string
      responses:
        '200':
          description: Profile updated
        '400':
          description: Validation failed

  # Store Routes
  /stores:
    get:
      summary: List Stores
      description: Returns all stores for the authenticated merchant.
      tags: [Stores]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Stores list returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
    post:
      summary: Create Store
      description: Creates a new store for the merchant.
      tags: [Stores]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                slug:
                  type: string
                description:
                  type: string
                category:
                  type: string
                location:
                  type: object
                contact:
                  type: object
                isActive:
                  type: boolean
      responses:
        '201':
          description: Store created

  /stores/active:
    get:
      summary: List Active Stores
      description: Returns only active stores for the merchant.
      tags: [Stores]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Active stores list

  /stores/{id}:
    get:
      summary: Get Store
      description: Returns a specific store by ID.
      tags: [Stores]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Store found
        '404':
          description: Store not found
    put:
      summary: Update Store (Full)
      description: Full update of store information.
      tags: [Stores]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Store updated
    patch:
      summary: Update Store (Partial)
      description: Partial update of store information.
      tags: [Stores]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Store updated
    delete:
      summary: Delete Store
      description: Deactivates a store (soft delete).
      tags: [Stores]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Store deactivated

  /stores/{id}/activate:
    post:
      summary: Activate Store
      description: Activates a previously deactivated store.
      tags: [Stores]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Store activated

  /stores/{id}/deactivate:
    post:
      summary: Deactivate Store
      description: Deactivates a store.
      tags: [Stores]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Store deactivated

  # Product Routes
  /products:
    get:
      summary: List Products
      description: Returns products for a store with pagination.
      tags: [Products]
      security:
        - bearerAuth: []
      parameters:
        - name: storeId
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: category
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Products list returned
    post:
      summary: Create Product
      description: Creates a new product in the catalog.
      tags: [Products]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                storeId:
                  type: string
                name:
                  type: string
                description:
                  type: string
                price:
                  type: number
                category:
                  type: string
                images:
                  type: array
                  items:
                    type: string
                variants:
                  type: array
      responses:
        '201':
          description: Product created

  /products/{id}:
    get:
      summary: Get Product
      description: Returns a specific product by ID.
      tags: [Products]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Product found
        '404':
          description: Product not found
    put:
      summary: Update Product
      description: Full update of product.
      tags: [Products]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Product updated
    delete:
      summary: Delete Product
      description: Soft deletes a product.
      tags: [Products]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Product deleted

  # Order Routes
  /orders:
    get:
      summary: List Orders
      description: Returns orders with filtering and pagination.
      tags: [Orders]
      security:
        - bearerAuth: []
      parameters:
        - name: storeId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Orders list returned
    post:
      summary: Create Order
      description: Creates a new order.
      tags: [Orders]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                storeId:
                  type: string
                items:
                  type: array
                customerId:
                  type: string
                paymentMethod:
                  type: string
      responses:
        '201':
          description: Order created

  /orders/{id}:
    get:
      summary: Get Order
      description: Returns a specific order by ID.
      tags: [Orders]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order found
        '404':
          description: Order not found
    patch:
      summary: Update Order
      description: Updates order status or details.
      tags: [Orders]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
      responses:
        '200':
          description: Order updated

  # Loyalty Routes
  /loyalty:
    get:
      summary: Get Loyalty Program
      description: Returns merchant's loyalty program configuration.
      tags: [Loyalty]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Loyalty program returned
    put:
      summary: Update Loyalty Program
      description: Updates loyalty program settings.
      tags: [Loyalty]
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Loyalty program updated

  /loyalty/rewards:
    get:
      summary: List Rewards
      description: Returns available rewards.
      tags: [Loyalty]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Rewards list
    post:
      summary: Create Reward
      description: Creates a new reward.
      tags: [Loyalty]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Reward created

  # Analytics Routes
  /analytics:
    get:
      summary: Get Analytics
      description: Returns analytics dashboard data.
      tags: [Analytics]
      security:
        - bearerAuth: []
      parameters:
        - name: storeId
          in: query
          schema:
            type: string
        - name: period
          in: query
          schema:
            type: string
            enum: [today, week, month, year]
      responses:
        '200':
          description: Analytics data returned

  /analytics/sales:
    get:
      summary: Get Sales Analytics
      description: Returns sales data and trends.
      tags: [Analytics]
      security:
        - bearerAuth: []
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Sales analytics returned

  /analytics/customers:
    get:
      summary: Get Customer Analytics
      description: Returns customer insights.
      tags: [Analytics]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Customer analytics returned

  # Integration Routes
  /integrations:
    get:
      summary: List Integrations
      description: Returns available integrations.
      tags: [Integration]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Integrations list
    post:
      summary: Connect Integration
      description: Connects a third-party integration.
      tags: [Integration]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                credentials:
                  type: object
      responses:
        '201':
          description: Integration connected

  /integrations/{id}:
    delete:
      summary: Disconnect Integration
      description: Disconnects an integration.
      tags: [Integration]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Integration disconnected

  # Internal Routes
  /internal/stores/{storeId}/validate:
    get:
      summary: Validate Store (Internal)
      description: Validates if a store is active and valid.
      tags: [Internal]
      parameters:
        - name: storeId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean

  /internal/merchants/{merchantId}/order-stats:
    get:
      summary: Get Order Stats (Internal)
      description: Returns order statistics for credit scoring.
      tags: [Internal]
      parameters:
        - name: merchantId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order stats returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ordersPerMonth:
                        type: number
                      disputeRate:
                        type: number
                      accountAgeMonths:
                        type: number

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
        errors:
          type: array
          items:
            type: string

    Merchant:
      type: object
      properties:
        id:
          type: string
        businessName:
          type: string
        ownerName:
          type: string
        email:
          type: string
        phone:
          type: string
        verificationStatus:
          type: string
        kycStatus:
          type: string
        rating:
          type: number
        isActive:
          type: boolean

    Store:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        merchantId:
          type: string
        category:
          type: string
        isActive:
          type: boolean
        isListed:
          type: boolean
        location:
          type: object

    Product:
      type: object
      properties:
        id:
          type: string
        storeId:
          type: string
        name:
          type: string
        description:
          type: string
        price:
          type: number
        category:
          type: string
        isActive:
          type: boolean
        images:
          type: array
          items:
            type: string

    Order:
      type: object
      properties:
        id:
          type: string
        orderNumber:
          type: string
        storeId:
          type: string
        customerId:
          type: string
        items:
          type: array
        totalAmount:
          type: number
        status:
          type: string
          enum: [pending, confirmed, preparing, ready, completed, cancelled]
        paymentStatus:
          type: string
          enum: [pending, paid, refunded]
        createdAt:
          type: string
          format: date-time

    Pagination:
      type: object
      properties:
        total:
          type: integer
        page:
          type: integer
        limit:
          type: integer
        hasMore:
          type: boolean
