openapi: 3.0.3
info:
  title: Auth Service API
  description: Authentication, authorization, and user management
  version: 1.0.0

servers:
  - url: https://auth.rez.money
    description: Production

paths:
  /api/v1/auth/register:
    post:
      tags: [Authentication]
      summary: Register new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/v1/auth/login:
    post:
      tags: [Authentication]
      summary: Login with credentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/auth/otp/send:
    post:
      tags: [OTP]
      summary: Send OTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendOTPRequest'
      responses:
        '200':
          description: OTP sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OTPResponse'

  /api/v1/auth/otp/verify:
    post:
      tags: [OTP]
      summary: Verify OTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyOTPRequest'
      responses:
        '200':
          description: OTP verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /api/v1/auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh token
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'

  /api/v1/auth/logout:
    post:
      tags: [Authentication]
      summary: Logout
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Logged out

  /api/v1/auth/me:
    get:
      tags: [User]
      summary: Get current user
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    InternalToken:
      type: apiKey
      in: header
      name: X-Internal-Token

  schemas:
    RegisterRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        phone:
          type: string
        name:
          type: string

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer

    TokenResponse:
      type: object
      properties:
        accessToken:
          type: string
        expiresIn:
          type: integer

    SendOTPRequest:
      type: object
      required:
        - phone
        - type
      properties:
        phone:
          type: string
        type:
          type: string
          enum: [login, register, reset_password]

    VerifyOTPRequest:
      type: object
      required:
        - phone
        - otp
      properties:
        phone:
          type: string
        otp:
          type: string

    OTPResponse:
      type: object
      properties:
        success:
          type: boolean
        expiresAt:
          type: string
          format: date-time

    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        phone:
          type: string
        name:
          type: string
        createdAt:
          type: string
          format: date-time

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
    Unauthorized:
      description: Unauthorized
