openapi: 3.0.3
info:
  title: Order Service API
  description: Order lifecycle management and fulfillment
  version: 1.0.0

servers:
  - url: https://orders.rez.money

paths:
  /api/v1/orders:
    post:
      tags: [Orders]
      summary: Create order
      security:
        - InternalToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'

    get:
      tags: [Orders]
      summary: List orders
      security:
        - InternalToken: []
      parameters:
        - name: userId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Orders list
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  total:
                    type: integer

  /api/v1/orders/{id}:
    get:
      tags: [Orders]
      summary: Get order
      security:
        - InternalToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Orders]
      summary: Update order
      security:
        - InternalToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderRequest'
      responses:
        '200':
          description: Order updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /api/v1/orders/{id}/status:
    put:
      tags: [Orders]
      summary: Update order status
      security:
        - InternalToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum: [pending, confirmed, processing, shipped, delivered, cancelled]
                notes:
                  type: string
      responses:
        '200':
          description: Status updated

  /api/v1/orders/{id}/cancel:
    post:
      tags: [Orders]
      summary: Cancel order
      security:
        - InternalToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Order cancelled

components:
  securitySchemes:
    InternalToken:
      type: apiKey
      in: header
      name: X-Internal-Token

  schemas:
    CreateOrderRequest:
      type: object
      required:
        - userId
        - items
        - totalAmount
      properties:
        userId:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        totalAmount:
          type: integer
          description: Total amount in paise
        paymentMethod:
          type: string
          enum: [wallet, razorpay, cod]
        deliveryAddress:
          $ref: '#/components/schemas/Address'
        notes:
          type: string

    UpdateOrderRequest:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        deliveryAddress:
          $ref: '#/components/schemas/Address'
        notes:
          type: string

    Order:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        totalAmount:
          type: integer
        status:
          type: string
          enum: [pending, confirmed, processing, shipped, delivered, cancelled]
        paymentStatus:
          type: string
          enum: [pending, paid, failed, refunded]
        deliveryAddress:
          $ref: '#/components/schemas/Address'
        notes:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    OrderItem:
      type: object
      required:
        - productId
        - quantity
        - price
      properties:
        productId:
          type: string
        name:
          type: string
        quantity:
          type: integer
        price:
          type: integer
        total:
          type: integer

    Address:
      type: object
      properties:
        line1:
          type: string
        line2:
          type: string
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        country:
          type: string
          default: India
        phone:
          type: string

  responses:
    BadRequest:
      description: Invalid request
    NotFound:
      description: Resource not found
